*{
    box-sizing: border-box;
}

h1,h3,p{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', ;
    margin: 0;
}

.container{
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.center{
    display: flex;
    justify-content: center;
}

.yellow{
    color: #ffc61a;
}

/* ______________________HEADER________________ */
header{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 100px;
}

@media(max-width: 930px){
    .header__logo{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.header__logo{
    margin-top: 40px;
}

.logo__text{
    color: #ffc61a;
    font-size: 40px;
    font-weight: 900;
}

.logo__description{
    color: #ffffff;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}


.mobile-menu{
    display: none;
}



.nav1{
    margin-top: 50px;
}

.nav__link1{
    color: #ffffff;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 50px;
}

.nav__link1:last-child{
    margin-right: 0;
}

.nav__link1:hover{
    height: 40px;
    border-radius: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffc61a;
    text-align: center;
    color: black;
}


@media(max-width: 930px){

    .header__nav1{
        display: none;
    }    
    .mobile-menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 16px;
        top: 0;
        background-color: #ffc61a;
        left: 0;
        right: 0;
        height: 50px;
        z-index: 9999999;
    }
    
    .mobile-menu__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        transition: .4s;
    }
    
    .mobile-menu__icon {
        display: block;
        position: relative;
        background: white;
        width: 90%;
        height: 4px;
        transition: .4s;
    }
    
    .mobile-menu__icon::after, .mobile-menu__icon::before {
        content: "";
        display: block;
        position: absolute;
        background: white;
        width: 100%;
        height: 4px;
        transition: .4s;
    }
    
    .mobile-menu__icon::after {
        top: 8px;
    }
    
    .mobile-menu__icon::before {
        top: -8px;
    }
    
    .header__nav{
        position: fixed;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 999;
        height: 0;
        opacity: 1;
        transition: .5s;
        overflow: hidden;
        background-color: #ffc61a;
    }
    
    
    .mobile-menu__checkbox {
        display: none;
    }
    
      .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
        opacity: 1;
    }
    
    .mobile-menu__checkbox:checked ~ .header__nav {
        height: 40%;
    }
    
    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
        background: transparent;
    }
    
    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
        top: 0;
    }
    
    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    
    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    
    .nav{
        padding-top: 10px;
        transition: .5s;
        list-style: none;
        padding-left: 0;
        margin-top: -50px;
        display: flex;
        flex-direction: column;
    }
    
    .nav__link{
        color: #ffffff;
        font-size: 17px;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        padding-top: 30px;
    }
    
    .nav__link:last-child{
        margin-right: 0;
    }
    
    .nav__link:hover{
        text-align: center;
        color: black;
    }
    
}



/* ____________TEL__________ */


.tel{
    text-align: center;
}

.tel__link {
    color: #ffffff;
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
}

.tel__link:hover{
    color: #ffc61a;
}

.tel__description{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.36px;
    margin-bottom: 63px;
}

.tel__img img{
    max-width: 100%;
}

/* ________________ORDER_________________ */

.section__order{
    background-color: #ffc61a;
}



.order__wrapper{
    padding-bottom: 50px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order__form{
    max-width: 100%;
}

.title__yellow{
    color: #ffc61a;
}
@media(max-width: 785px){
    .order__form{
        margin-right: auto;
        margin-left: auto;
    }

    .form__button{
        margin-left: 15%;
        
    }
}

.order__form{
    max-width: 420px;
    background-color: #ffffff;
    font-family: 'Lato', ;
}



.form__title{
    max-width: 420px;
    background-color: #171717;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:15px;
    padding-right: 15px;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    
}


.form__input{
    font-family: 'Lato', ;
    max-width: 420px;
    background-color: #ffffff;
    border: none;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.form__input::placeholder{
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300;
}

.form__input:focus{
    outline: 1px solid #ffc61a;
}


.form__button{
    background-color: #131313;
    margin-top: 20px;
    outline: none;
    border-style: none;
}

.form__button:hover{
    background-color: #ffffff;
}

.form__button:valid{
    font-family: 'Lato', ;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
}

.form__button:valid:hover{
    color: #ffc61a;
}




.form__button:valid:focus{
    color: #ffc61a;
    outline: 1px solid #ffc61a;
}


.form__button1{
    background-color: #131313;
    margin-top: 20px;
    outline: none;
    border-style: none;
}

.form__button1:hover{
    background-color: #ffffff;
}

.form__button1:valid{
    font-family: 'Lato', ;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
}

.form__button1:valid:hover{
    color: #ffc61a;
}




.form__button1:valid:focus{
    color: #ffc61a;
    outline: 1px solid #ffc61a;
}

/* ____________CALC________________ */
@media(max-width: 785px){
    .order__calc{
        margin-right: auto;
        margin-left: auto;
    }
}


.order__calc{
    max-width: 100%;
}

.calc__title{
    max-width: 420px;
    background-color: #171717;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:15px;
    padding-right: 15px;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
}

.select__id{
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    background-color: #ffffff;
    font-family: 'Lato', ;
    color: black;
    font-size: 18px;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 10px;
    text-transform: uppercase;
}

.id__wrapper{
    border: none;
    outline: 2px solid #ffc61a;
}

.id{
    font-family: 'Lato', ;
    color: black;
    font-size: 12px;
    font-weight: 900;
    padding-top: 5px;
}

.order__price{
    color: black;
    font-size: 24px;
    font-weight: 900;
    margin-top: 20px;
}

@media (max-width: 875px){
    .order__price{
        margin-bottom: 40px;
        font-size: 18px;
        text-align: center;
    }
}

/* ____________________ABOUT___________________________ */

.section__about{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}

@media(max-width: 939px){
    .about__info{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .about__contact{
        margin-right: auto;
        margin-left: auto;
    }
}



.about__title{
    padding-top: 30px;
    margin-bottom: 40px;
    color: #ffc61a;
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
}

.about__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact__title{
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
}

.about__info{
    max-width: 600px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.contact__link{
    color: #ffffff;
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 30px;
    text-decoration: none;
}

.contact__link:hover{
    color: #ffc61a;
}


@media(max-width: 940px){
    .contact__link{
        text-align: center;
    }

    .contact__title{
        text-align: center;
    }
}

.contact__info{
    display: flex;
    flex-direction: column;
}


.copyright{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    text-decoration: none;
}

.copyright:hover{
    color: #ffc61a;
}

.footer{
    background-color: #0C0C0C;
    height: 40px;
}